.kanit{
    font-family: 'kanit',sans-serif;
}
.navme{
    background-color:deeppink;
    font-family: 'kanit',sans-serif;
}
img.logo{
    height: 40px;
    width: 40px;
}
.nav-above{
    margin-top: 1em;
}
.dropdown-item:active{
    background-color: dimgrey;
}
div.maincard{
    width:250px;
    margin:0.25em;
}
div.flex3{
    display: flex;
    flex-wrap: wrap;
}
.headsection{
    margin:0.5em;
}
